.header
{
	padding-top: 15px;
	height: 60px;
}

.header .logo-image
{
	float: left;
	width:51px;
}

.header .logo-text a
{
	text-transform: uppercase;
	float: left;
	color: #999281;
	padding-top: 8px;
	padding-left: 4px;
	font-weight: 700;
	text-decoration: none;
}

.header .logo-end
{
	float: left;
	color: #999281;
	padding-top: 7px;
	padding-left: 10px;
	color: #e0dbd1;
}

.navigation-text
{
	float: left;
	color: #999281;
	padding-top: 9px;
	padding-left: 9px;
	font-size: 11px;
	font-weight: 300;
}

.navigation-text a.selected
{
	font-weight:500;
}


.navigation-text a
{
	text-decoration: none;
	color: #999281;
}

.navigation-text a.active
{
	font-weight: 700;
}

.navigation-text a:hover
{
	text-decoration: underline;
}

.account-search
{
	height: 75px;
}

.account-search .account-text
{
	
	padding-top: 5px;
	color: #999281;
	font-size: 10px;
	font-weight: 300;
	text-align:right;
	float:right;
	min-width:100px;
}

.account-search .account-text a
{
	text-decoration: none;
	color: #999281;
	font-size: 10px;
	font-weight: 300;
}

.account-search .account-text a:hover
{
	text-decoration: underline;
}

.account-search .searchbox
{
	float: right;
	padding-top:4px;
}

.account-search input[type="text"] {
position: relative;
z-index: 2;
width: 200px;
font-size: 14px;
border: none;
outline: none;
padding: 4px 10px 5px 28px;
color: #444;
border-radius: 3px;
box-shadow: 0 0 4px rgba(0,0,0,0.3);
background: white url(../images/layout/search-bg.png) no-repeat 10px center;;
}
