html {
	background: url(../images/layout/main-bg.jpg) #F5EFE6;
}

.sheet a:hover {
	text-decoration: underline;
}

/* GRid
 *
 * Col Width: 40
 * Number: 24
 * Gutter Width: 10;
 *
 */
.cachefeedback {
	float: left;
	padding: 20px;
	position: absolute;
	left: 400px;
}
.sheet {
	min-height: 480px;
	background: white;
	box-shadow: 0 0 6px rgba(0,0,0,0.3);
	border-radius: 3px;
	margin-left: -15px;
	margin-right: -15px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.innersheet {
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 15px;
}

/*
 * Page Headers and Option Links (with tool tips)
 */

.page-header {
	padding-bottom: 20px;
}

.page-header .image, .page-header .titles {
	float: left;
}

.page-header .image {
	padding-right: 10px;
}

.page-header .title {
	font-size: 22px;
	font-weight: 300;
}

.page-header .subtitle {
	color: #c1b6aa;
	font-size: 13px;
	font-weight: 300;
}
/*
 * Profile Page Headers and Option Links (with tool tips)
 */

.page-header-grey {
	background-color: #f2f2f2;
	padding: 15px;
}

.page-header-grey .image, .page-header-grey .titles {
	float: left;
}

.page-header-grey .title {
	font-size: 22px;
	font-weight: 300;
}

.page-header-grey .subtitle {
	color: #6d6d6d;
	font-size: 13px;
	font-weight: 300;
}

.page-header-grey .image {
	padding-right: 10px;
	padding-top: 3px;
}


.image-container
{
	float: left;
}
.gallery-image
{
	padding: 0px 5px 0px 0px;
}
 
.image-options a, .image-options 
{
	font-size: 9px;
	padding-bottom: 4px;
	color: #c7c7c7;
	text-decoration: none;
}

/*
 * Page Options links
 */

.page-options {
	float: right;
}

.page-options .option {
	float: right;
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid #e7e7e7;
	min-height: 40px;
	overflow: hidden;
	max-height: 40px;
	height: 40px;
	min-width: 40px;
	display: block;
}

.page-options .option:hover a .title {

	text-decoration: underline;
}

.page-options .last.option {
	border-left: 0px solid #e7e7e7;
}

.page-options .option a .title {
	font-size: 13px;
	font-weight: 300;
	text-align: right;
	padding-top: 3px;
	color: black;
	text-decoration: none;
}

.page-options .option a .subtitle {
	color: #c1b6aa;
	font-size: 10px;
	font-weight: 300;
	text-align: right;
	text-decoration: none;
}

.page-options .option a {
	text-decoration: none;
}

/*
 * Page Tabs
 */

.page-tab-bar ul, .page-tab-bar li {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}

.page-tab-bar ul li {
	float: left;
	padding: 10px;
	border-right: 1px #e2e2e2 solid;
	color: #419ad4;
	font-size: 14px;
	font-weight: 300;
}

/*
 * Page Tabs Segments
 */

.profile-segment {
	margin-bottom: 30px;
}
.profile-segment .segment-header {
	height: 35px;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	margin-top: 0px;
}

.profile-segment .segment-header .title {
	float: left;
	color: #a52a2a;
	font-size: 14px;
	font-weight: 300;
	padding-top: 10px;
}
.profile-segment .segment-header .droparrow {
	float: left;
	padding-top: 10px;
	padding-left: 5px;
}

.profile-segment .segment-header .option {
	float: left;
	padding-top: 7px;
	padding-left: 8px;
	border-left: solid 1px #e2e2e2;
	margin-top: 4px;
	margin-left: 8px;
	height: 19px;
}

.profile-segment .segment-header .option a {
	color: #c7c7c7;
	font-size: 12px;
	font-weight: 300;
	text-decoration: none;
}

.profile-segment .segment-content {
	padding-top: 10px;
}

/*
 * Datatables
 */

.datatable {
	padding-top: 0px;
}

.datatable tbody tr td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	font-size: 11px;
}

.datatable tbody tr.odd td {
	background-color: #f8f8f8;
}

.datatable tbody tr:hover td {
	background-color: #dde7ee;
}

.datatable tbody tr td.sorting_1 {
	background-color: #eaf2f7;
}
.datatable tbody tr:hover td.sorting_1, .datatable tbody tr:hover td.sorting_2, .datatable tbody tr:hover td.sorting_3 {
	background-color: #dde7ee;
}

.datatable tbody tr td.sorting_2 {
	background-color: #eaf7f6;
}

.datatable tbody tr td.sorting_3 {
	background-color: #eaf7ef;
}

.dataTable tbody tr td.company span {
	text-transform: uppercase;
	color: white;
	font-size: 10px;
	padding: 2px;
}

.dataTable tfoot tr th, .dataTable thead tr th {
	font-size: 12px;
}

.datatable tbody tr td a {
	text-decoration: none;
	color: black;
}

.datatable tbody tr td a:hover {
	text-decoration: underline;
}

/*
 * Page Forms
 */

.page-form-outer {

	background: #FAFAFA;
	padding: 9px 12px 12px 9px;
	border: 1px solid #E5E5E5;
	border-radius: 10px;
}

.page-form-whitearea {

	background: white;
	padding: 19px;
	border: 1px solid #CCC;
	position: relative;
	margin: 0;
	box-shadow: 0 2px 0 #ddd;
	border-radius: 5px;
}

.greyarea-paddy {
	padding: 15px;
}
.page-form-greyarea {
	color: black;
	background: #FAFAFA;
	padding: 0px;
	position: relative;
	margin: 0;
	font-size: 12px;
}

.page-form-greyarea .options {
	border-right: 1px #e7e7e7 solid;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
	width: 200px;
}

.page-form-greyarea .options.last {
	border-right: none;
}

.page-form .form-item {
	padding-top: 3px;
	padding-bottom: 3px;
}

.page-form .form-linebreak, .page-form fieldset {
	border-bottom: 1px #e7e7e7 solid;
	min-height: 1px;
	width: 100%;
	padding-bottom: 8px;
	padding-top: 8px;
}

.page-form .form-label {
	width: 100px;
	float: left;
	font-size: 11px;
	color: #9d9d9d;
	text-align: right;
	padding-right: 10px;
	padding-top: 4px;
}

.page-form .form-textfield {
	width: 1000px;
	float: left;
	min-height: 20px;
}

.page-form .form-textarea {
	width: 1000px;
	float: left;
	min-height: 85px;
}

.page-form .form-select {

	float: left;
	min-height: 20px;
}

.page-form textarea {
	width: 1000px;
	min-height: 65px;
	color: black;
	padding: 3px;
	font-size: 11px;
	min-height: 85px;
}

.page-form input[type='text'], .page-form input[type='password'] {
	color: black;
	padding: 3px;
	margin: 0;
	width: 99%;
	background: white;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	font-size: 11px;
	margin-bottom: 2px;
}

.page-form input[type='text']:focus {
	border-bottom: 1px dashed #c3c3c3;
}

.page-form input[type='text']:hover {
	border-bottom: 1px solid #c3c3c3;
}

.page-form-greyarea .title, .page-form-greyarea fieldset legend {
	font-weight: 500;
}

.page-form-greyarea .form-item .label, .page-form-greyarea .form-item .form-label {
	color: #858585;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 2px;
}

.page-form-greyarea .form-item .textfield input[type='text'], .page-form-greyarea .form-item .form-textfield input[type='text'] {
	box-shadow: 0 2px 0 #ddd;
	border: 1px solid #e7e7e7;
	width: 95%;
	padding: 3px;
}

.page-form-greyarea .form-item .checkbox {
	float: left;
}

.page-form-greyarea .form-item .checkbox input[type='checkbox'] {
	box-shadow: 0 2px 0 #ddd;
	border: 1px solid #e7e7e7;
}

.page-form-greyarea .form-item .textfield.shift {
	float: left;
	padding-right: 13px;
	width: 80px;
}

.page-form-greyarea .submitorcancel {
	padding-bottom: 10px;
}
.page-form-greyarea .submitorcancel .button-submit, .page-form-greyarea input[type='submit'] {
	float: left;
	background-color: #419ad4;
	color: white;
	border: 1px solid #e7e7e7;
	box-shadow: 0 2px 0 #ddd;
	margin-top: 10px;
}

.page-form-greyarea .submitorcancel .button-cancel {
	float: left;
	padding-top: 7px;
	padding-left: 6px;
	font-size: 11px;
}

label.error {
	margin-left: 5px;
	background: url(../images/layout/formErrorArrow.png) left no-repeat;
	padding-left: 10px !important;
}

/*
 * Page Displays
 */

.page-display-outer {

	background: #FAFAFA;
	padding: 9px 12px 12px 9px;
	border: 1px solid #E5E5E5;
	border-radius: 10px;
}

.page-display-whitearea {

	background: white;
	padding: 19px;
	border: 1px solid #CCC;
	position: relative;
	margin: 0;
	box-shadow: 0 2px 0 #ddd;
	border-radius: 5px;
}

.page-display-greyarea {
	color: black;
	background: #FAFAFA;
	padding: 10px;
	position: relative;
	margin: 0;
	font-size: 12px;
}

.page-display-greyarea .options {
	border-right: 1px #e7e7e7 solid;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
	width: 200px;
}

.page-display-greyarea .options.last {
	border-right: none;
}

.page-display .display-item {
	padding-top: 3px;
	padding-bottom: 3px;
}

.page-display .display-linebreak {
	border-top: 1px #e7e7e7 solid;
	min-height: 1px;
	width: 100%;
	padding-bottom: 8px;
	padding-top: 8px;
}

.page-display .display-end-linebreak {
	min-height: 1px;
	width: 100%;
	padding-bottom: 15px;
	padding-top: 8px;
}

.page-display .display-label {
	width: 100px;
	float: left;
	font-size: 11px;
	color: #9d9d9d;
	text-align: right;
	padding-right: 10px;
	padding-top: 4px;
}

.page-display .display-text {
	width: 1000px;
	float: left;
	line-height: 12px;
	font-size: 11px;
	padding: 3px 0px;
}

.page-display .display-text .add {
	padding-top: 5px;
}
.page-display .display-text .add a {
	text-decoration: none;
	color: #64acda;
}

.page-display .display-text .add a:hover {
	text-decoration: underline;
}

.page-form textarea {
	width: 1000px;
	min-height: 65px;
	color: black;
	padding: 3px;
	font-size: 11px;
	min-height: 85px;
}

.page-display-greyarea .title {
	font-weight: 500;
}

.page-display-greyarea .display-item .label {
	color: #858585;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 2px;
}

.page-display-greyarea .display-item .textfield.shift {
	float: left;
	padding-right: 13px;
	width: 80px;
}

.half-form-item {
	float: left;
	width: 48%;
	margin-bottom: 4px;
	position: relative;
}

label.error {
	clear: both;
	display: block;
	padding: 3px;
	font-size: 11px;
}

.file {
	padding-left: 18px;
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url('/assets/images/icons/files/reg.png');
	margin: 4px 0px;
}

.folder .iconFolder {
	padding-left: 18px;
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url('/assets/images/icons/files/folder.png');
	margin: 4px 0px;
}

ul.filelist {
	list-style: none;
	margin: 0px;
}

ul.filelist li {
	list-style: none;
	margin-left: 15px;
}

ul.filelist li {
	list-style: none;
	margin-left: 15px;
}

ul.filelist ul.level2 {
	display: none;
}

#taskftp_current {
	margin-left: -15px;
}

.ftp_refresh {
	margin-left: 15px;
	margin-top: 10px;
	color: #999;
}

.ftp_refresh a {
	text-decoration: none;
	color: #999;
}

/* Company Colouring top */

.companyColours {
	margin-top: 8px;
	margin-bottom: 10px;
}

.companyColours .phone {
	min-height: 45px
}
.companyColours .phone span {
	background-color: #F98C51;
	padding: 10px;
	font-size: 26px;
	color: white;
}

.companyColours .vat {
	min-height: 29px;
}
.companyColours .vat span {
	background-color: #69858B;
	padding: 7px;
	font-size: 18px;
	color: white;
}

.companyColours .address {
	min-height: 31px
}
.companyColours .address .lines {
	background-color: #9CB3B2;
	padding: 7px;
	font-size: 14px;
	color: white;
	line-height: 18px;
	max-width: 100px;
}

.companyColours .members {
	min-height: 29px;
	margin-bottom: 5px;
}
.companyColours .members span {
	background-color: #625147;
	padding: 7px;
	font-size: 18px;
	color: white;
}

.members {
	min-width: 150px;
	float: left;
}

table.filter td {
	vertical-align: middle;
}
table.filter td.text {
	padding-top: 2px;
}

.gmap3 {
	margin: 0px auto;
	border: 1px dashed #C0C0C0;
	width: 300px;
	height: 200px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.ui-menu .ui-menu-item {
	text-align: left;
	font-weight: normal;
}
.ui-menu .ui-menu-item a.ui-state-hover {
	border: 1px solid red;
	background: #FFBFBF;
	color: black;
	font-weight: bold;
}

.redTitle {
	color: #A52A2A;
	font-size: 14px;
	font-weight: 300;
	padding-top: 10px;
	padding-bottom: 5px;
}



.ui-multiselect-menu, .ui-multiselect-menu .ui-multiselect-checkboxes
{
	height:400px;
}
