table.tt tr td:first-child 
{	
	width: 100px;
	font-size: 11px;
	color:  #9D9D9D;
	text-align: right;
	padding-right: 10px;
	padding-top: 4px;
}

table.tt tr td
{	
	font-size: 11px;
	color:  #000;
	text-align: left;
	padding-top: 4px;
}

table tr th.idColumn
{
	min-width:40px;
}

table tr th.stateColumn
{
	min-width:50px;
}

.inactiveItems
{
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top:5px;
	padding-bottom:15px;
	background: url(../images/layout/inActive.png) #F5EFE6;
	font-style: italic;
}


.qualifications
{
	font-size: 11px;

	margin: 0px;
	border-collapse: collapse;
	text-align: left;
	width:100%;
}

.qualifications table
{
	width:100%;
}

.qualifications th
{
	font-size: 11px;
	font-weight: normal;
	color: #000;
	padding: 2px 2px;
	padding-right:18px;
	border-bottom: 2px solid #e3e3e3;
	min-width:50px;
}
.qualifications td
{
	color: #666;
	padding: 2px 18px 0px 4px;
}
.qualifications tbody tr:hover td
{
	color: #000;
	background-color: #fbfbfb;
	
}

.qualifications tbody tr:hover td .options
{
	display: block;
	
}

.qualifications .options
{
	display: none;
}

.inactivetoggle
{
	color: #ccc;
	font-size: 11px;
	padding:5px;
	padding-top:0px;
	float:right;
}

.options{
	float: right;
}

.delete_link
{
	text-decoration: none;
	color: #9a0101;
}

.inactivetoggle a
{
	text-decoration: none;
	color: #ccc;
}

tr.seperate td{
	border-top: 8px solid #fff;
}
