/* trigger button */
.tooltiptrigger {
	cursor: pointer;
}

/* tooltip styling */
.tooltip {
	background: white;
	padding: 8px 0px 8px;
	border: 1px solid #BBB;
	font-size: 12px;
	border-radius: 6px;
	box-shadow: 0 1px 12px rgba(0,0,0,0.3);
	width: 280px;
	float: right;
	position: absolute;
	z-index: 997;
	display: none;
}

.tooltip .arrowtopright {
	margin-top: -38px;
	margin-left: 0px;
	width: 280px;
	height: 30px;
	z-index: 10001;
	background: url(../images/layout/tooltips/arrow_top_large.png) bottom no-repeat;
}

.tooltip .titleframe {
	border-bottom: 1px solid #DEDEDE;
	background-color: #F7F7F7;
	width: 100%;
	border-radius: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.tooltip .titleframe .title {
	padding: 3px;
	padding-left: 13px;
	color: #762e2e;
}

.tooltip .titleframe .note {
	padding: 3px;
	padding-left: 13px;
	color: #333;
	font-size: 10px;
}

.tooltip .content {
	padding: 3px;
	padding-left: 11px;
	font-size: 12px;
}

.tooltip .content .title {
	padding-top: 8px;
	padding-bottom: 3px;
	font-size: 12px;
	color: #419ad4;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 4px;
}

.tooltip .content .info {
	font-size: 11px;
	color: #919191;
	line-height: 12px;
}

.page-form-greyarea.tasks .resource .label {
	color: #858585;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 2px;
}

.page-form-greyarea.tasks .resource .assigned {
	color: #858585;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 2px;
}

.page-form-greyarea.tasks .resource .assigned .remove {
	float: left;
	padding-right: 4px;
	margin-top: 1px;
}

/* Task Colouring top */

.taskColours {
	margin-top: 8px;
	margin-bottom: 10px;
}

.taskColours .number {
	min-height: 45px;
	float: left;
}
.taskColours .number span {
	background-color: #F98C51;
	padding: 10px;
	font-size: 26px;
	color: white;
}
.taskColours .status {
	min-height: 45px;
	float: left;
}
.taskColours .status span {
	background-color: #ffb086;
	padding: 10px;
	font-size: 26px;
	color: white;
}

.taskColours .reference {
	min-height: 35px;
	float: left;
}
.taskColours .reference span {
	background-color: #69858B;
	padding: 7px;
	font-size: 18px;
	color: white;
}

.taskColours .subreference {
	min-height: 35px;
	float: left;
}
.taskColours .subreference span {
	background-color: #9CB3B2;
	padding: 7px;
	font-size: 18px;
	color: white;
}

.taskColours .client {
	min-height: 35px;
}
.taskColours .client span {
	background-color: #B0B46E;
	padding: 7px;
	font-size: 18px;
	color: white;
}

.taskColours .depot {
	min-height: 21px
}
.taskColours .depot span {
	background-color: #625147;
	padding: 7px;
	font-size: 12px;
	color: white;
}

.taskColours .address {

	background-color: #B0B9D7;
	padding: 7px;
	font-size: 12px;
	color: white;
	display: inline-block
}

.taskQuickLink {
	margin: 4px;
	padding: 2px;
	padding-left: 4px;
}

.taskQuickLink a {
	text-decoration: none;
	color: #52483C;
}

.dropdown_status {
	margin: 4px;
	padding: 2px;
	padding-left: 4px;
}

.dropdown_status a {
	text-decoration: none;
	color: #52483C;
}

.qualifications td.noteBy
{
	color: #999;
	font-style: italic;
	padding-bottom:5px;
}
.qualifications td.noteBy a
{
	color: #666;
}

.qualifications td.theNote
{
	padding-bottom:5px;
}
