/*
  Teamleaf Technologies 
  copyright s3d limited 2012
  copyright matthew hiscock
  copyright senses web solutions
  
  The timeline styles only
*/

.timelineItem
{
	clear:both;
	margin-bottom:2px;
}

.timelineItem .title
{
	color: white;
	float: left;
	padding:4px;
}

.timelineItem .timelineContents
{
	padding:4px; padding-left: 8px;
	float: left;
}

.timelineItem .byWhom
{
	float: right;
	padding: 4px;
}
.timelineItem .when
{
	float: right;
	padding: 4px;
	padding-left: 8px;
}



.timelineItem .taskAssignTitle
{
	background-color: #69858B;
}
.timelineItem .taskFtpTitle
{
	background-color: #9966FF;
}
.timelineItem .taskStatuTitle
{
	background-color: #FF6699;
}
.timelineItem .taskCommentTitle
{
	background-color: #28795f;
}

