.thwaites {
	background:url(../img/main_background2.jpg) top center;
	padding-top:0px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.thwaitesFooter {
	background:url(../img/main_background2.jpg);
	padding-top:0px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.header-bck {
	background:url(../img/header-bck.jpg) top center;
	min-height:286px;
}
.header-bck-small {
	background:url(../img/header-bck-small-v2.jpg) top center;
	height:289px;
}

.navbarbg
{
	height:155px;
	
}

.thwaites-logo {
	text-align:center;
	height:80px;
}
.thwaites .navbar {
	clear:both;
	margin-right:0px;
	margin-bottom:0px;
}

.thwaites .navbar-inner .menu-logo a{
	font-size:18px;

}
.thwaites .navbar-inner {

	border:none;
	height:56px;
	padding-left:0px;
	padding-right:0px;


}
.thwaites .navbar-inner li {
	padding-bottom: 4px;
	padding-top: 1px;
	margin-top: 13px;

	
}

.thwaites .navbar-inner li ul li {
	padding-bottom: 1px;
	padding-top: 1px;
	margin-top: 1px;

	
}
.thwaites .navbar-inner li a {
	color:#f0ebe5;
	font-size:14px;
	text-shadow: none;
	font-family: 'Fauna One', serif;
}
.thwaites .navbar-inner li a:hover {
	color:#fff;
}
.pubsnet {
	text-align:center;
	margin-bottom:-94px;
}
.pubsnet img {
	position:relative;
	z-index:999;
}
.home {
	padding-left: 5px;
	padding-right:5px;
	padding-bottom: 2px;
	padding-top: 5px;

}
.home:hover {
	background-color: #d31145;
}
.tap_room {
	padding-left: 5px;
	padding-right: 5px;
	

}
.tap_room:hover {
		background-color: #d31145;
}

.thwaites .navbar-inner li.menu-logo {
margin-top:-1px;
}

.dropdown {
    padding-left: 5px;
    padding-right: 5px;

}
.dropdown:hover {
		background-color: #d31145;
}
.recources {
	padding-left: 5px;
	padding-right: 5px;

}
.recources:hover {
		background-color: #d31145;
}
.news {
	 padding-left: 5px;
    padding-right: 5px;

}
.news:hover {
		background-color: #d31145;
}
.contact {
	padding-left: 5px;
	padding-right: 5px;
}
.contact:hover {
		background-color: #d31145;
}
/* Carousel base class */
    .carousel {
}
.carousel .container {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}
.carousel-control {
	background-color: transparent;
	border: 0;
	font-size: 120px;
	margin-top: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel .item {
	height: 400px;
}
.carousel img {
	height: 400px;
}
.carousel-caption {
	background-color: transparent;
	position: static;
	max-width: 550px;
	padding: 0 20px;
	margin-bottom: 228px;
	margin-left:52%;
}
.carousel-caption2 {
	background-color: transparent;
	margin-bottom: 228px;
	margin-left: 52%;
	max-width: 550px;
	padding: 0 20px;
	position: static;
}
.carousel-caption h1, .carousel-caption .lead {
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
	margin-top: 10px;
}
.thwaites .carousel {
	margin-top:-3px;
}
.thwaites .carousel-caption h1 {
	color:#1a0c0c;
	font-style:italic;
	font-weight:normal;
	padding-right:40px;
	border-right:1px solid #1a0c0c;
	width:26%;
	float:left;
	margin-right:10%;
	text-align:center;
	min-height:107px;
	padding-top:30px;
}
.thwaites .carousel-caption2 h1 {
	color:#cfc8b6;
	font-style:italic;
	font-weight:normal;
	padding-right:40px;
	border-right:1px solid #cfc8b6;
	width:26%;
	float:left;
	margin-right:10%;
	text-align:center;
	min-height:107px;
	padding-top:30px;
}
.thwaites .lead {
	color:#1a0c0c;
	font-size:14px;
	font-style:italic;
	width:90%;
}
.thwaites .lead2 {
	color:#cfc8b6;
	font-size:14px;
	font-style:italic;
	width:90%;
}
.thwaites .carousel-caption a {
	line-height:0px;
}
#winezone {
	background:url(../img/slider-button.png);
	display: block;
	height: 20px;
	width: 81px;
	margin:15px 0px 0px 0px;
	line-height:0px;
	float:left;
	padding: 18px 0 11px 55px;
	color:#d6cfbf;
}
#winezone:hover {
	background:url(../img/slider-button_hover.png);
	text-decoration:none;
}
#winezone a {
	color:#fff;
}
.slider-buttons {
	margin-top:-37px;
}
#winezone-button {
	background:url(../img/wine-zone-button.png);
	display: block;
	height: 86px;
	width: 100%;
	float:left;
	color:#d6cfbf;
}
#winezone-button:hover {
	background:url(../img/wine-zone-button2.png);
}
#winezone-button span {
	display:none;
}
#foodzone-button {
	background:url(../img/wine-zone-button.png);
	display: block;
	height: 86px;
	width: 100%;
	float:left;
	color:#d6cfbf;
}
#foodzone-button:hover {
	background:url(../img/wine-zone-button2.png);
}
#foodzone-button span {
	display:none;
}
#posterzone-button {
	background:url(../img/wine-zone-button.png);
	display: block;
	height: 86px;
	width: 100%;
	float:left;
	color:#d6cfbf;
}
#posterzone-button:hover {
	background:url(../img/wine-zone-button2.png);
}
#posterzone-button span {
	display:none;
}
.thwaites .thumbnail {
	border:5px solid #d7d0be;
	background:url(../img/news_bck.gif);
	border-radius:0px 0px 0px 0px;
	padding:5px;
	box-shadow: 3px 5px 8px #272626;
	font-style:italic;
	font-size:12px;
	color:#272626;
	text-decoration:none;
	min-height:314px;
}

.nav-drop{
	position: relative;
    top: -7px;
        left:50px;
}

.nav-drop2{
	position: relative;
    top: -3px;

}



.thwaites .thumbnail-tall {
	border:5px solid #d7d0be;
	background:url(../img/news_bck.gif);
	border-radius:0px 0px 0px 0px;
	padding:10px;
	box-shadow: 3px 5px 8px #272626;
	font-style:italic;
	font-size:12px;
	color:#272626;
	text-decoration:none;
	min-height:668px;
}


.thwaites .thumbnail:hover {
	border:5px solid #948664;
}
.thwaites h3 {
	margin-top:-44px;
}
.thwaites h3 span {
	border:solid 1px #3f3631;
	padding:10px;
	background:url(../img/h3_bck.gif);
	font-style:italic;
	font-weight:normal;
	font-size:18px;
}
.image-left {
	float:left;
}
.thwaites a:hover {
	text-decoration:none;
}
.footer-outer {
	background:url(../img/footer-bck.jpg) center;
	box-shadow: 0px -5px 8px #272626;
}
.thwaites .footer {
	margin-top:0px;
	padding:0px;
	border:none;
	background:none;
}
.thwaites .footer .top {
	background:url(../img/footer-top-strip-bck.png) left no-repeat;
	text-align:right;
}
.footer .span4 {
	margin-left:0px;
	margin-top:-22px;
}
.posters {
	margin-left:25px;
}
.base {
	background:url(../img/base-bck.jpg) top;
	color:#999;
	font-size:11px;
	padding-top:5px;
	padding-bottom:5px;
}
.base a {
	color:#999;
}
.base-right {
	text-align:right;
}
#more-button {
	background:url(../img/more-button.png);
	display: block;
	height: 86px;
	width: 100%;
	float:left;
	color:#d6cfbf;
}
#more-button:hover {
	background:url(../img/more-button-hover.png);
}
.foozone-logo {
	text-align:center;
	
}
.foodzone {
	background:url(../img/main_background2.jpg);
}
.form-container {
	background:url(../img/form-container-bck.gif);
}
.form-chain {
	background:url(../img/chains.png) top center no-repeat;
	height:28px;
}
.left-content {
	margin:30px 0px 30px 30px;
	padding-right:30px;
	background:url(../img/left-content-bck.png) right;
	font-style:italic;
}
.right-content {
	margin:30px 20px 30px 0px;
	padding-left:30px;
	font-style:italic;
}
.left-content h1 {
	font-weight:normal;
	font-size:26px;
}
.right-content2 {
	margin:30px 0px 30px 0px;
	font-style:italic;
}
.thwaites input:focus {
	border-color: rgba(60, 54, 46, 0.8);
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(60,54,46,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(60,54,46,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(60,54,46,.6);
}
.poster {
	margin-top:20px;
}
.main-poster {
	background:url(../img/main_poster.jpg);
	width:448px;
	height:550px;
	margin:0px auto;
}
.text-box {
}
.main-poster textarea {
	background: url("../img/text-box-bck.png") repeat scroll 0 0 transparent;
	border: 1px dashed #FFFFFF;
	color: #FFFFFF;
	left: 215px;
	position: relative;
	top: 28px;
	z-index: 999;
}
.thwaites li a {
	background:none;
}
.thwaites .dropdown-menu li a {
	font-size:14px;
}
.thwaites .dropdown-menu li a:hover {
	background:#000;
	border-top-color: #2d0e0c;
	border-bottom-color: #2d0e0c;
	color:#fff;
	font-size:14px;
}
.thwaites .dropdown-menu {
	top: 100%;
	left: 0;
	min-width: 176px;
	margin: 0px 0 0;
	background-color: #d31145;
 *border-right-width: 0px;
 *border-bottom-width: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-top:none;
}
.thwaites .btn {
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
}
.taproom-image {
	margin-top:30px;
}
.taproom-image img {
	box-shadow: 3px 5px 8px #272626;
	border:5px solid #948664;
}
.download {
	height: 41px;
	line-height: 30px;
}
.news-article img {
	float:left;
	margin:0px 20px 20px 0px;
	box-shadow: 3px 5px 8px #272626;
	border:5px solid #948664;
}
.left-content li {
	list-style:none;
	background:url(../img/news-icon.png) left no-repeat;
	padding-left:35px;
}
.left-content li a {
	color:#000;
	line-height:36px;
}
.left-content li a:hover {
	color:#948664;
}

.span16 .thumbnail img{
	float:left;
	margin-right:2%;
}

.span16 .thumbnail h3{
	position:absolute;
	margin-top:271px;
}

.thwaites .thumbnails > li{
	margin-bottom:0px;
}

.selectdesign
{
	margin-bottom: 5px;

	
}

.selected
{
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;

  border:2px solid red;
}

.pageTitleSlider
{
	font-size: 65px;
	color: #2a2521;
	padding-top: 98px;
	font-family: 'Fauna One', serif;
	
}

.pagesub
{
	font-size: 30px;
	color: #fff;
	padding-top: 20px;
	font-family: 'Fauna One', serif;
	
}

.downloadTitle
{
	font-weight: normal;
	font-size: 22px;
	line-height:26px;
}

.resourceSegment
{
	padding-bottom: 20px;
}

.mainContent
{
	padding-bottom: 25px;
}


.footerTitle
{
	font-size: 16px;
	color: #fff;
	padding-top: 10px;
	font-family: 'Fauna One', serif;
}

.base
{
	font-size: 11px;
	color: #999;
	font-family: 'Fauna One', serif;
}

.newsArticle h1
{
		font-size: 24px;
	padding-top: 10px;
	font-family: 'Fauna One', serif;
	padding: 0px;
	margin:0px;
	padding-bottom:5px;
	line-height:16px;

	font-style: normal;
}

.newsArticle p
{
	font-style: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar{
	background: transparent;
	background: none;
}


.cart td
{
	padding: 5px 10px;
	vertical-align: top
}

.cart td.price
{
	width: 50px;
}

.cart td.options
{
	width: 100px;
}

table.cart
{
	width:100%;
}
