@import url(http://fonts.googleapis.com/css?family=Skranji:400,700);

.posterDesign input, .posterDesign textarea
{
	background-color: transparent;
	border: 2px dashed red;
}

.posterDesign .input1
{
	position: absolute; 
	top: 665px; 
	left:415px; 
	z-index: 10;
}

.posterDesign .input1 input, .posterDesign .input2 input, .posterDesign .input3 input, .posterDesign .input4 input, .posterDesign .input5 input, .posterDesign .input6 input, .posterDesign .input7 input
{
	margin-top: -20px;
	font-size: 30px;
	line-height: 30px;
	height:50px;
	width:365px;
	font-family: 'Skranji', cursive;
	font-weight:700;
	color: black;
}

.input2
{
	position: absolute; 
	top: 735px; 
	left:415px; 
	z-index: 10;
}
.input3
{
	position: absolute; 
	top: 805px; 
	left:415px; 
	z-index: 10;
}
.input4
{
	position: absolute; 
	top: 875px; 
	left:415px; 
	z-index: 10;
}
.input5
{
	position: absolute; 
	top: 945px; 
	left:415px; 
	z-index: 10;
}

.input6
{
	position: absolute; 
	top: 1015px; 
	left:415px; 
	z-index: 10;
}
.input7
{
	position: absolute; 
	top: 1085px; 
	left:415px; 
	z-index: 10;
}
.input8
{
	display: none;
}

.input9
{
	display: none;
}
.input10
{
	display: none;
}
.input11
{
	display: none;
}

.input12
{
	display: none;
}

.textareainput1
{
	display: none;
}

.textareainput2
{
	display: none;
}
.textareainput3
{
	display: none;
}
.textareainput4
{
	display: none;
}
.textareainput5
{
	display: none;
}


.posterDesign .inputPubName
{
	position: absolute; 
	top: 30px; 
	left:220px; 
	z-index: 10;
	text-align: center;
}

.posterDesign .inputPubName input
{
	margin-top: -20px;
	font-size: 50px;
	line-height: 50px;
	height:103px;
	width:380px;
	font-family: 'Skranji', cursive;
	font-weight:700;
	color: black;
	text-align: center;
}

.posterDesign .textareaTandC
{
	position: absolute; 
	top: 1155px; 
	left:50px; 
	z-index: 10;
	text-align: center;
}

.posterDesign .textareaTandC textarea
{
	font-size: 14px;
	line-height: 14px;
	height:30px;
	width:720px;
	font-family: 'Skranji', cursive;
	font-weight:400;
	color: black;
	text-align: center;
}

	text-align: center;
}
