@import url(http://fonts.googleapis.com/css?family=Skranji:400,700);

.posterDesign input, .posterDesign textarea
{
	background-color: transparent;
	border: 2px dashed red;
}

.posterDesign .input1
{
	position: absolute; 
	top: 490px; 
	left:500px; 
	z-index: 10;
}

.posterDesign .input1 input
{
	margin-top: -20px;
	font-size: 80px;
	line-height: 80px;
	height:103px;
	width:240px;
	font-family: 'Skranji', cursive;
	font-weight:700;
	color: black;
}

.posterDesign .textareainput1
{
	position: absolute; 
	top: 615px; 
	left:50px; 
	z-index: 10;
	text-align: center;
}

.posterDesign .textareainput1 textarea
{
	font-size: 70px;
	line-height: 70px;
	height:380px;
	width:720px;
	font-family: 'Skranji', cursive;
	font-weight:400;
	color: black;
	text-align: center;
}

.input2
{
	display: none;
}
.input3
{
	display: none;
}
.input4
{
	display: none;
}
.input5
{
	display: none;
}

.input6
{
	display: none;
}
.input7
{
	display: none;
}
.input8
{
	display: none;
}

.input9
{
	display: none;
}
.input10
{
	display: none;
}
.input11
{
	display: none;
}

.input12
{
	display: none;
}

.textareainput2
{
	display: none;
}
.textareainput3
{
	display: none;
}
.textareainput4
{
	display: none;
}
.textareainput5
{
	display: none;
}


.posterDesign .inputPubName
{
	position: absolute; 
	top: 30px; 
	left:220px; 
	z-index: 10;
	text-align: center;
}

.posterDesign .inputPubName input
{
	margin-top: -20px;
	font-size: 50px;
	line-height: 50px;
	height:103px;
	width:380px;
	font-family: 'Skranji', cursive;
	font-weight:700;
	color: black;
	text-align: center;
}

.posterDesign .textareaTandC
{
	position: absolute; 
	top: 1015px; 
	left:50px; 
	z-index: 10;
	text-align: center;
}

.posterDesign .textareaTandC textarea
{
	font-size: 14px;
	line-height: 14px;
	height:100px;
	width:720px;
	font-family: 'Skranji', cursive;
	font-weight:400;
	color: black;
	text-align: center;
}
