@import url(http://fonts.googleapis.com/css?family=Enriqueta:700);

.posterDesign input
{
	background-color: transparent;
	border: 2px dashed red;
}

.posterDesign .input1
{
	position: absolute; top: 476px; left:502px; z-index: 10;
}

.posterDesign .input1 input
{
	margin-top: -20px;
	font-size: 80px;
	height:103px;
	width:220px;
	font-family: 'Enriqueta', serif;
	color: black;
}


